.list {
    margin: 2px;
    padding: 20px;
    background: white;
    list-style: none;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    list-style: none;
    grid-template-areas: 
    "start center end";
    border-bottom: 2px solid #eee;
    padding: 5px;
    grid-gap: 5px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    border: none;
    background-color: green;
    color: white;
    min-width: 30px;
    min-height: 30px;
    margin: 10px;
    cursor: pointer;
}

.list__button:hover {
    background-color: hsl(120, 100%, 30%);
}

.list__button:active {
    background-color: hsl(120, 100%, 35%);
}

.list__button--remove {
    background-color: red;
    grid-area: end;
}

.list__button--remove:hover {
    background-color: hsl(0, 100%, 65%);
}

.list__button--remove:active {
    background-color: hsl(0, 100%, 70%);
}

