.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    align-items: start;
    justify-items: start;
}

.main__section {
    width: 100%;
}

.main__header {
    margin: 2px;
    padding: 20px;
    background: white;
}