html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.list__item {
    text-decoration: none;
}

.list__item--done {
    text-decoration: line-through;
}